:root {
  --primary-color: #fce138;
  --secondary-color: #FF1493;
  --tertiary-color: #663399;

}

* {
  margin: 0;
  padding: 0;
  /* border: 1px black solid; */
}

.container {
  background-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--tertiary-color));
  display: flex;
  flex-direction: row;
  /* border: 1px black solid; */
}

.navColumn {
  background-color: var(--secondary-color);
  width: 20%;
  height: 100%;
}

nav ul {
  margin: 10px 0 0 50px;
}

nav ul li {
  list-style: none;
  color: white;
  background-color: var(--secondary-color);
}

nav ul li a {
  text-decoration: none;
}

nav ul li a::hover {
  color: var(--primary-color);
}

nav ul li a::after {
  color: var(--tertiary-color);
}

.logo-image {
  margin: 25px 0 0 50px;
  height: 20vmin;
  border-radius: 50%;
}

nav article {
  margin: 10px 0 0 50px;
}

.column-2 {
  margin-left: 10px;
  width: 80%;
  height: 100%;
}

.homepage-body {
  margin-left: 10px;
  padding: 20px;
}

.homepage-container {
  display: flex;
  justify-content: space-between;
}

.homepage-column-2 {
  margin-right: 50px;
}

.appointment-form input,
.appointment-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 75%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.appointment-form input:focus,
.appointment-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.appointment-form button {
  width: 50%;
  border: none;
  background: var(--tertiary-color);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.footer-container {
  color: white;
  width: 80%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 10px;
}

.footer-column-2 {
  margin: 0 50px 0 20px;
}

.facebook-page-link:hover {
  color: var(--primary-color);
}