:root {
  --primary-color: #fce138;
  --secondary-color: #FF1493;
  --tertiary-color: #39a6b2;
}

* {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  border: 1px black solid;
}

.container {
  display: flex;
}

nav {
  background-color: var(--secondary-color);
  width: 25%;
  height: 100%;
  justify-content: center;
}

nav ul {
  margin-left: 100px;
  width: 150%;
}

nav ul li {
  list-style: none;
  background-color: var(--secondary-color);
}

.logo {
  margin: 25px 0 0 100px;
  height: 20vmin;
  border-radius: 50%;
}

.column-2 {
  width: 75%;
}

.footer-container {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column-2 {
  margin: 0 10px 0 10px;
}
